<p>Products Page</p>
<% for product in @products %>
<p><%=  product.name() %></p>
<p>Stock Qty: <%=  product.stock_quantity() %></p>
<a href="/winter_shop/<%= product.id %>">More Info</a>
<p>--------------------------------------</p>
<% end %>
