<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Winter Shop Inventory</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <header class="header">
      <nav class="nav" role="navigation">
        <ul>
          <a href="/"><li>Home</li></a>
          <a href="/product"><li>Products List</li></a>
          <a href="/manufacturer"><li>Manufacturers List</li></a>
          <a href="/category"><li>Categories List</li></a>
          <li class="new"><a href="#">New</a>
            <ul class="new">
              <a href="/product/new"><li>Add Product</li></a>
              <a href="/manufacturer/new"><li>Add Manufacturer</li></a>
              <a href="/category/new"><li>Add Category</li></a>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <%= yield %>
    </main>
    <footer>
      <p>Contact</p>
    </footer>
  </body>
</html>
