<h3>Add Category</h3>
<div class="new_container">
  <form action="/category" method="POST">
    <div class="add">
    <div><label for="name">Name</label></div>
    <div><input id="name" name="name" type="text"></div>
    <div class="button_grid"><input class="button" type="submit" value="Add Category"></div>
    </div>
  </form>
</div>
