<h3>Add Manufacturer</h3>
<div class="new_container">
  <form action="/manufacturer" method="POST">
    <div class="add">
    <div><label for="name">Name</label></div>
    <div><input id="name" name="name" type="text"></div>
    <div><label for="contact">Contact</label></div>
    <div><input id="contact" name=contact type="text"></div>
    <div><label for="address">Address</label></div>
    <div><input id="address" name="address" type="text"></div>
    <div class="button_grid"><input class="button" value="Add Manufacturer" type="submit"></div>
    </div>
  </form>
</div>
