<h4>New Product</h4>

<form action="/product" method="POST">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text">
  <label for="description">Description:</label>
  <input id="description" name="description" type="text">
  <label for="stock-quantity">Stock Qty:</label>
  <input id="stock-quantity" name="stock_quantity" type="number">
  <label for="buying-cost">Buying Cost:</label>
  <input id="buying-cost" name="buying_cost" type="number">
  <label for="selling-price">Selling Price:</label>
  <input id="selling-price" name="selling_price" type="number">
  <label for="manufacturer-id">Manufacturer:</label>
  <select  id="manufacturer-id" name="manufacturer_id">
    <% for manufacturer in @manufacturers %>
      <option id="manufacturer-id" name="manufacturer_id" value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
    <% end %>
  </select>

  <select  id="category-id" name="category_id">
    <% for category in @categories %>
      <option id="category-id" name="category_id" value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <input value="Add Product" type="submit">
</form>
